.App-logo {
  height: 80px;
}

.App-header {
  height: 170px;
  padding: 10px;
}

.header-main { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font: italic 1em "Fira Sans", serif;
  position: relative;
}

.header-main1 { 
  text-align: center; 
  flex-grow: 1;
}

.header-info {
  position: absolute;  
  text-align: right; 
  display: flex;
  flex-direction: column;
  top: 0;
  right: 50px;
}

.header-left {
  margin-top: 10px;
  text-align: left;
}

