.home .form{
  margin: 10px;
  flex-grow: 1;
  border: #3078C0;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  align-content: center;
  padding: 40px;
}

.home h3 {
  background: #3078C0;
border: 0;
padding: 10px;
margin: 0;
color: #ffffff;
font-size: 28px;
font-weight: normal;
text-decoration: none;
letter-spacing: 0em;
line-height: 1em;
border-radius: 12px;
}

.home .cars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}