
.contact-form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media (min-width: 640px) { 
  .contact-form {
    max-width: 40vw;
  }
  .contact-details {
    max-width: 30vw;
  }
}