@font-face {
  font-family: 'trexvisHeader';
  src: url('./../static/trexvisHeader.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-title {
  font-family: 'trexvisHeader';
}

.App-title1 {
  font-family: 'trexvisHeader';
}

.App-header {
  display: flex;
  justify-content: space-evenly;
}

.header-main { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font: italic 1em "Fira Sans", serif;
  position: relative;
}

.header-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header-main1 { 
  text-align: right; 
  flex-grow: 1;
}


@media (min-width: 640px) { 
.header-logo img {
  height: 140px;
  margin: 0 20px;
}

.App-title {
  font-size: 4em;
  margin-bottom: 0;
  text-align: center;
}
.App-title1 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
}

.header-container{
  min-height: 150px;
  min-width: 75vw;
  margin: 1em 0;
}

.App-logo {
  height: 90px;
}

.App-badge {
  height: 70px;
  margin-left: 5px;
}
}

@media (max-width: 640px) { 
.header-logo img {
  height: 70px;
  margin: 0 5px;
}

.App-title {
  font-size: 2em;
}
.App-title1 {
  font-size: 1em;
}

.header-container{
  min-height: 75px;
  padding: 5px;
  border: 5px;
  margin: 0.3em 0;
  border-radius: 10px;
}

.App-logo {
  height: 45px;
}

.App-badge {
  height: 40px;
  margin-left: 2px;
}
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform:         translateY(0)
	}
	40% {
		transform:         translateY(-20px)
	}
	60% {
		transform:         translateY(-10px)
	}
}
.bounce_button {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}