.home-container .clients-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dark .ui.card {
  background: none;
  box-shadow: none;
}

.dark .ui.card > .card {
  box-shadow: none;
}

.home-container .clients-container .ui.card:last-child{
  margin-left: unset !important;
  margin-right: unset !important;
}

@media (max-width: 760px) { 
.slide-container {
  height: 60vw;
  width: 60vw;
}
}